{% extends "rest/rest_menu.html" %}
{% block title %}
{{ model_verbose_name_plural }}{% if period %}:{{ period.id }}{% endif %}
{% endblock %}
{% block submenu %}
  <h3>{{ rest_Period_model_verbose_name }}</h3>
{% if period %}
  <h3>{{ rest_Period_fields_verbose_name.id }}:{{ period.id }}</h3>
  <h3>{{ rest_Period_fields_verbose_name.created }}:</h3>
  <h3>{{ period.created|date:"SHORT_DATETIME_FORMAT" }}</h3>
  <ul>
  <li><a href="{% url 'period_detail' period.id %}?page={{ pn }}">Назад</a>
  </li>
  </ul>
{% else %}
  <ul>
  <li><a href="{% url 'period_list' %}?page={{ pn }}">Назад</a>
  </li>
  </ul>
{% endif %}
{% endblock %}
{% block main %}
  <table class="refer-table">
    <caption>{{ model_verbose_name_plural }}
      {% if period %}
        <p> Период: {{ period.name }} </p>
        <p> С даты: {{ period.date_from }} </p>
        <p> По дату: {{ period.date_to }} </p>
      {% endif %}
{% include "common/pagination.html" with url_list="turnover_list" %}
    </caption>
    <thead>
    <tr>
      <th>{{ fields_verbose_name.item }}</th>
      <th>{{ fields_verbose_name.store }}</th>
      <th>{{ fields_verbose_name.target }}</th>
      <th>{{ fields_verbose_name.part }}</th>
      <th>{{ fields_verbose_name.design }}</th>
      <th>{{ fields_verbose_name.packing }}</th>
      <th>{{ fields_verbose_name.unit }}</th>
      <th>{{ fields_verbose_name.rest_init }}</th>
      <th>{{ fields_verbose_name.quantity_in }}</th>
      <th>{{ fields_verbose_name.quantity_out }}</th>
      <th>{{ fields_verbose_name.rest_total }}</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>{{ object.item }}</td>
        <td>{{ object.store|default_if_none:"----" }}</td>
        <td>{{ object.target|default_if_none:"----" }}</td>
        <td>{{ object.part|default_if_none:"----" }}</td>
        <td>{{ object.design|default_if_none:"----" }}</td>
        <td>{{ object.packing }}</td>
        <td>{{ object.unit }}</td>
        {% with number=object.rest_init %}
        <td class="centered"><div {% if number < 0 %} class="negative"{% endif %}>{% if number == 0 %} - {% else %}{{ number|floatformat:"-6" }}{% endif %}</div></td>
        {% endwith %}
        {% with number=object.quantity_in %}
        <td class="centered"><div {% if number < 0 %} class="negative"{% endif %}>{% if number == 0 %} - {% else %}{{ number|floatformat:"-6" }}{% endif %}</div></td>
        {% endwith %}
        {% with number=object.quantity_out %}
        <td class="centered"><div {% if number < 0 %} class="negative"{% endif %}>{% if number == 0 %} - {% else %}{{ number|floatformat:"-6" }}{% endif %}</div></td>
        {% endwith %}
        {% with number=object.rest_total %}
        <td class="centered"><div {% if number < 0 %} class="negative"{% endif %}>{% if number == 0 %} - {% else %}{{ number|floatformat:"-6" }}{% endif %}</div></td>
        {% endwith %}
      </tr>
    {% empty %}
      <p>Нет данных</p>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
